<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutadmin">
<head>
<meta charset="ISO-8859-1">
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<title>Create Student</title>
<body>
<div layout:fragment="content" align="center">
<h1>List of all students</h1>
<table class="table">
		<tr>
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>
		</tr>
		<tr th:each="stu: ${studentPage.content}">
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${stu.studentId})}"
        		th:text=${stu.studentId}></a>
			</td>
			<td th:text="${stu.firstName}+' '+${stu.middleName}+' '+${stu.surname}"></td>
			<td th:text="${stu.age}" ></td>
			<td th:text="${stu.gender}" ></td>
			<td th:text="${stu.email}" ></td>
			<td th:text="${stu.mobileNum}" ></td>
			<td th:text="${stu.address}" ></td>
		</tr>
    	<tr th:if="${studentPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/createstudent(size=${studentPage.size}, page=${pageNumber},flag='null')}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==studentPage.number + 1} ? active"></a>
    		</td>
    	</tr>
</table>

<form th:action="@{/admin/createstudent}" th:method="post">
<h2>New Student Information</h2>
<table class="table">
	<tr>
			<td>Student First Name</td>
			<td>Student Middle Name</td>
			<td>Student Surname</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>
		</tr>
	<tr>
		<td><input class="form-control" width="50px" type="text" name="fname"/></td>
		<td><input class="form-control" width="50px" type="text" name="mname"/></td>
		<td><input class="form-control" width="50px" type="text" name="sname"/></td>
		<td><input class="form-control" width="30px" type="number" min="1" name="age"/></td>
		<td><select class="form-control" name="gender">
  				<option value="M">M</option>
  				<option value="F">F</option>
			</select>
		</td>
		<td><input class="form-control" type="text" name="email"/></td>
		<td><input class="form-control" type="number" min="1" max="99999999" name="mobile"/></td>
		<td><input class="form-control" type="text" name="address"/></td>
	</tr>
</table>

<button type="submit" name="confirm" value="yes" class="btn btn-primary">Create Student</button>
	

<input type="hidden" name="flag" value="yes"/>
<div th:if="${error == 'error'}">
<h2 th:text="${msg}">Error Message</h2>
</div>
</form>
</div>
</body>
</html>