<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutadmin">
<head>
<meta charset="ISO-8859-1">
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<title>Grade List</title>

</head>
<body>
<div layout:fragment="content" align="center">



<br/>
<br/>
<br/>
<br/>

<h1>List of all grades</h1>

<form th:action="@{/admin/gradelist}">
<div th:if="${searched == 'null'}">
	<table class="table">
		<tr align="center">
			<th>Grade ID</th>
			<th>Grade</th>
			<th>Course ID</th>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Student ID</th>
			<th>Student Name</th>
		</tr>
		<tr align="center" th:each="grade: ${gradePage.content}">
			<td>
				<a th:href="@{/admin/viewgrade(viewgrade=${grade.gradeId})}"
        		th:text=${grade.gradeId}></a>
			</td>
			<td th:text="${grade.grade}"></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${grade.course.courseId})}"
        		th:text=${grade.course.courseId}></a>
			</td>
			<td th:text="${grade.course.courseCode}"></td>
			<td th:text="${grade.course.courseName}"></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${grade.student.studentId})}"
        		th:text=${grade.student.studentId}></a>
			</td>
			<td th:text="${grade.student.firstName}+' '+${grade.student.middleName}+' '+${grade.student.surname}"></td>
		</tr>
    	<tr th:if="${gradePage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/gradelist(size=${gradePage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==gradePage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:unless="${searched == 'null'}">
	<table  class="table" th:if="${found == 'found'}">
		<tr>
			<td th:text="'You searched for: '+ ${searched}"></td>
		</tr>
		<tr align="center">
			<th>Grade ID</th>
			<th>Grade</th>
			<th>Course ID</th>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Student ID</th>
			<th>Student Name</th>
		</tr>
		<tr align="center" th:each="grade: ${gradePage.content}">
			<td>
				<a th:href="@{/admin/viewgrade(viewgrade=${grade.gradeId})}"
        		th:text=${grade.gradeId}></a>
			</td>
			<td th:text="${grade.grade}"></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${grade.course.courseId})}"
        		th:text=${grade.course.courseId}></a>
			</td>
			<td th:text="${grade.course.courseCode}"></td>
			<td th:text="${grade.course.courseName}"></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${grade.student.studentId})}"
        		th:text=${grade.student.studentId}></a>
			</td>
			<td th:text="${grade.student.firstName}+' '+${grade.student.middleName}+' '+${grade.student.surname}"></td>
		</tr>
    	<tr th:if="${gradePage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/gradelist(size=${gradePage.size}, page=${pageNumber},name=${searched})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==gradePage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
    <div th:unless="${found == 'found'}">
    <h2 th:text="'No grade found for: ' + ${searched}"></h2>
    </div>
    <p><a class="btn btn-primary" th:href="@{/admin/gradelist}">Return to list of grades</a></p>
</div>
<div class="input-group mb-3">
<input class="form-control mr-sm-2" type="text" th:name="name" placeholder="Search course and student"/>
 <div class="input-group-append"> 
<input class="btn btn-info" type="submit"/> 
</div>
</div>
</form>
<br/>
<br/>
 <form th:action="@{/csvgrades}" th:method="post">
	<button class="btn btn-success" type="submit" name="approval" value="yes">Download all grades as CSV</button>
</form>


</div>

</body>
</html>