<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutguest">
<head>
<meta charset="ISO-8859-1">
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<title>Contact Us</title>
</head>
<body>
<div layout:fragment="content" align="center">

<h2>National University of Singapore</h2>
<h3>Institute of Systems Science</h3>

<h4>Graduate Diploma in Systems Analysis</h4>
<br>
<table style="width:700px">
<tr><td>&emsp;&emsp;</td><td >Developers :</td><td >Ong Jun Hao, Edmund</td><td >Email: &nbsp; edmund.ongjh@gmail.com</td></tr>
<tr><td></td><td></td><td>Sao Sai Woon Leng</td><td>Email: &nbsp; sai.caesar.leng16@gmail.com</td></tr>
<tr><td></td><td></td><td>Aye Pwint Phyu</td><td>Email: &nbsp; amypwintsa49@gmail.com</td></tr>
<tr><td></td><td></td><td>Ruan Xinping</td><td>Email: &nbsp; cecilia.ruan@outlook.com</td></tr>
<tr><td></td><td></td><td>Adhiyaman Sisubalan</td><td>Email: &nbsp; adhiyamansisu@gmail.com</td></tr>
<tr><td></td><td></td><td>Wei Yiheng</td><td>Email: &nbsp; wyh270@gmail.com</td></tr>
</table>



</div>
</body>
</html>