<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutadmin">
<head>
<meta charset="ISO-8859-1">
<link href="/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<title>View Faculty Leave</title>
</head>

<body>
<div layout:fragment="content" align="center">

<h1>Faculty Leave Information</h1>

<div th:if="${msg == 'found'}">
	<table class="table">
		<tr>
			<td>Department ID</td>
			<td>Department Name</td>
			<td>Faculty Leave ID</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
			<td>Leave Start</td>
			<td>Leave End</td>	
			<td>Status</td>
		</tr>
		<tr>
			<td>
				<a th:href="@{/admin/viewdepartment(viewdepartment=${facultyLeave.faculty.department.departmentId})}"
        		th:text=${facultyLeave.faculty.department.departmentId}></a>
			</td>
			<td th:text="${facultyLeave.faculty.department.departmentName}" ></td>
			<td th:text="${facultyLeave.leaveId}" ></td>
			<td th:text="${facultyLeave.faculty.facultyId}" ></td>
			<td th:text="${facultyLeave.faculty.firstName}+' '+${facultyLeave.faculty.middleName}+' '+${facultyLeave.faculty.surname}"></td>
			<td th:text="${facultyLeave.leaveStart}" ></td>
			<td th:text="${facultyLeave.leaveEnd}" ></td>
			<td th:text="${facultyLeave.status}" ></td>
		</tr>
    </table>
      
<form th:action="@{/admin/updatefacultyleave(id=${facultyLeave.leaveId})}" th:method="post">
    <button type="submit" name="confirm" value="no"class="btn btn-success">Update faculty leave</button>
</form>
</div>
     
<div th:unless="${msg == 'found'}">
    <h2 th:text="'Error in locating faculty leave in database'"></h2>
</div>
<table>
<tr>
<td><form th:action="@{/admin/home}"><input type="submit" value="Home"class="btn btn-primary"/></form></td>
<td><form th:action="@{/admin/facultyleavelist}"><input type="submit" value="Return to list of facultyleaves"class="btn btn-primary"/></form></td>
</tr>
</table>
</div>
</body>
</html>